/* artists.module.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
}

.content {
  width: fit-content;
  display: flex;
  flex: 1;
}

.artistList {
  flex: 1;
  padding: 20px;
}

.artistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #999;
}

/* Styles for Horizontal Scrollview */
.artistScrollView {
  padding-bottom: 1rem;
  scroll-behavior: smooth;
}

.artistGridHorizontal {
  display: flex;
  gap: 15px;
  padding: 10px;
  width: 83vw; /* ให้ขยายตามเนื้อหา */
  overflow-x: scroll;
}

.artistCardHorizontal {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 250px;
  min-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artworkPreviewHorizontal {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.artworkItemHorizontal {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 5px;
  background-color: #ccc;
}

.artworkItemHorizontal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistInfoHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.artistAvatarHorizontal {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.artistNameHorizontal {
  font-size: 0.9rem;
  margin-bottom: 3px;
  color: #333;
  text-align: center;
}

.artistRatingHorizontal {
  font-size: 0.7rem;
  color: #777;
  margin-bottom: 5px;
}

.artistButtonHorizontal {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
  min-width: 60px;
  text-align: center;
}

.artistButton--green {
  background-color: #008170;
  color: white;
}

.artistButton--red {
  background-color: #a0153e;
  color: white;
}

.artistButton--blue {
  background-color: #3d3c86;
  color: white;
}

.artistButton--new {
  background-color: #000000;
  color: white;
}

.artistList h2:nth-of-type(2) {
  margin-top: 40px;
}