/* explore.module.css */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #f8f8f8; /* Match your theme */
  }
  
  .content {
    width: fit-content;
    display: flex;
    flex: 1;
  }
  
  .artworks {
    flex: 1;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .artworkHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pageTitle {
    font-size: 2rem; /* Adjust as needed */
    color: #333; /* Match your theme */
    padding-left: 10px;
    border-left: 5px solid #007bff;
  }
  
  .tabButtons {
    display: flex;
    margin-bottom: 15px;
  }
  
  .tabButton {
    background-color: #e0e0e0; /* Match your theme */
    color: #333; /* Match your theme */
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .tabButton:hover {
    background-color: #ccc; /* Match your theme */
  }
  
  .tabButton.active {
    background-color: #007bff; /* Match your theme */
    color: white; /* Match your theme */
  }
  
  .artworkGrid {
    display: grid;
    /* Explicitly set the grid to have 9 columns */
    grid-template-columns: repeat(9, 1fr);
    gap: 10px; /* Adjust gap as needed */
  }
  
  .artworkItem {
    background-color: #ccc;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .artworkImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }