.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.content {
  width: fit-content;
  display: flex;
  flex: 1;
}

.artworks {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.artworkHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pageTitle {
  font-size: 2rem;
  color: #333;
  padding-left: 10px;
  border-left: 5px solid #007bff;
}

.tabButtons {
  display: flex;
  margin-bottom: 15px;
}

.tabButton {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #ccc;
}

.tabButton.active {
  background-color: #007bff;
  color: white;
}

/* ArtWorkGrid */

.artworkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gridItem {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.gridItem:hover {
  transform: scale(1.02);
}

.artworkContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.artworkImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.likeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}

.likeButton:hover {
  background-color: transparent;
  color: red;
}

.artworkInfo {
  padding: 15px;
  background-color: #f9f9f9;
}

.artworkTitle {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #333;
}

.artistInfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.profileImageContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.profileImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistUsername {
  font-size: 0.9rem;
  color: #777;
}