.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

.content {
  width: fit-content;
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 20px 0; /* เปลี่ยน padding ให้มี padding บนและล่างเท่านั้น */
  border-right: 1px solid #eee;
  background-color: #f9f9f9; /* เพิ่มสีพื้นหลัง */
  padding-left: 10px; /*added padding left*/
  padding-right: 10px; /*added padding right*/
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px; /* เพิ่ม padding ให้แต่ละรายการ */
}

.sidebar li:nth-child(4) {
  margin-bottom: 10px;
}

.sidebar li:nth-child(5) { /* จัดรูปแบบ "Categories" */
  color: #999;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  padding-top: 20px;
  padding-left: 10px; /*Added padding left*/
  padding-right: 10px; /*Added padding right*/
  margin-left: 10px;
  margin-right: 10px;
}

.auth {
  margin-top: 200px;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px; /* เพิ่ม border radius */
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid #eee;
  padding-left: 10px; /*Added padding left*/
  padding-right: 10px; /*Added padding right*/
}

.authLink {
  cursor: pointer;
}

/* Artist Recommended */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex: 1;
}

.artistList {
  flex: 1;
  padding: 20px;
}

.artistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #999;
}

.artistGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.artistCard {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 725px;
  margin: 10px;
}

.artistAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.artistInfo {
  flex: 1;
}

.artistName {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.artistRating {
  margin-bottom: 10px;
}

.artistButton {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}

.artistButton--green {
  background-color: #008170;
  color: white;
}

.artistButton--red {
  background-color: #a0153e;
  color: white;
}

.artistButton--blue {
  background-color: #3d3c86;
  color: white;
}

.artistButton--new {
  background-color: #000000;
  color: white;
}

.artworkPreview {
  display: flex;
  gap: 10px;
}

.artworkItem {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistList h2:nth-of-type(2) { /* เพิ่ม margin-top ให้ส่วน "New Artist" */
  margin-top: 40px; /* ปรับค่า margin-top ตามต้องการ */
}

