.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f8f8f8;
  position: sticky;
}

.content {
  width: fit-content;
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 50px 0;
  border-right: 1px solid #eee;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
}

.sidebar li:nth-child(5) {
  margin-bottom: 10px;
}

.sidebar li:nth-child(6) {
  color: #999;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.auth {
  margin-top: 100px;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid #eee;
  padding-left: 10px;
  padding-right: 10px;
}

.authLink {
  cursor: pointer;
}

