.container {
  max-width: 1500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
}

.cover {
  background-color: #8f8e8e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.userInfo h2 {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.userInfo p {
  color: #ffffff;
  font-size: 0.9rem;
}

.editButtons {
  display: flex;
  margin-left: auto;
}

.editButtons button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.addCover {
  background-color: #ddd;
  display: flex;
  align-items: center;
}

.editProfile {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
}

.details {
  height: 200px;
  background-color: #8f8e8e;
  padding: 12px;
  border-radius: 5px;
  margin-top: 10px;
}

.details p {
  color: #ffffff;
  font-size: 0.8rem;
}

.newPost {
  text-align: center;
  margin-bottom: 30px;
  background-color: #8f8e8e;
  padding: 20px;
  border-radius: 8px;
}

.newPostButton {
  font-family: "Gill Sans", sans-serif;
  padding: 14px 28px;
  color: #aff4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 auto;
  display: block;
}

.post {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.postHeader {
  display: flex;
  align-items: center;
  margin-left: 450px;
  margin-bottom: 10px;
}

.postAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.postUserInfo h3 {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.postUserInfo p {
  font-size: 0.8rem;
}

.postContent {
  width: 500px;
  height: 500px;
  background-color: #545454;
  align-items: center;
  margin-left: 450px;
  margin-top: 10px;
}

.postUserInfo p:first-of-type {
  display: inline;
}

.postUserInfo h3:first-of-type::after {
  color: #a29c9c;
  content: " * times ago";
}

.postUserInfo p:last-of-type {
  display: block;
}